# https://git-scm.com/docs/gitignore

.brackets.json
.DS_Store
/.vscode/ipch/
/build/
/doxygen/
/microbit-dal-ext-kit/
/microbit-dal-ext-kit-example.wiki/
/microbit-dal-ext-kit.wiki/
/yotta_modules/
/yotta_targets/
