# https://git-scm.com/docs/gitignore

/build/
/doxygen/
/microbit/
/microbit-dal/
/microbit-dal-ext-kit/
/microbit-dal-ext-kit.wiki/
/microbit-dal-ext-kit-example.wiki/
/nrf51-sdk/
/yotta_modules/
/yotta_targets/
/.vscode/ipch/
.DS_Store
.brackets.json
